body {
    background-image: url('https://c.pxhere.com/photos/3a/c3/pizza_maker_pizzeria_pizza_oven_chef_pizza_bake_drawing_cooking-1149372.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {

    object-fit: cover;
}
.card-img-top {
    max-height: 200px;
}

.carousel {
    margin: auto;
    height: 480px !important;
    width: 640px !important;
}

.carousel-item img {
    height: 480px !important;
    width: 640px !important;
}